[user]
	name = Paolo Iulita
	email = paolo.iulita@gmail.com
[core]
	excludesfile = /Users/paolo/.gitignore_global
    editor = "nano"
[commit]
	template = /Users/paolo/.stCommitMsg
[alias]

    # Basic commands
    cp = cherry-pick
    st = status
    co = checkout
    c = commit
    f = fetch -tp
    bb = branch -vv

    # Amend last commit
    amend = commit --amend --no-edit

    # Checkout a remote branch, assuming remote is origin, setting the track
    co-remote = "!f() { git checkout -b \"$1\" origin/\"$1\"; }; f"

    # Log short
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    
    # Get current git branch name
    cbn = symbolic-ref --short HEAD
    
    # Reset EVERYTHING you have done in your working copy
    pristine = !git reset --hard && git clean -dfx
    
    # Unstage easy
    unstage = reset HEAD --
    
    # Rebase easy
    rbmaster = !git fetch -tp && git rebase -p origin/master

    # Grep your entire codebase for a string
    grep = grep -Ii

    # Delete a remote branch
    delete-remote = "!f() { git push origin --delete \"$1\"; }; f"

    # List all of your aliases
    list-aliases = "!git config -l | grep alias | cut -c 7-"

    # Rename current branch
    rename-branch = "!f() { git branch -m \"$1\"; }; f"

    # Start a new git flow feature
    fs = "!f() { git flow feature start \"$1\"; }; f"

    # Finish a git flow feature
    ff = "!f() { git flow feature finish \"$1\"; }; f"
