[alias]
    # Log with style
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%ae,%ar]" --decorate --graph
    # Get current git branch name
    cbn = symbolic-ref --short HEAD
    # Reset EVERYTHING you have done in your working copy
    pristine = reset --hard && git clean -dfx
    # Push current branch automatically setting the upstream
    pushups = push --set-upstream origin $(git cbn)
